.task-wrapper {
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task {
  font-size: 1.3em;
  transition: 0.5s;
}

.task-done {
  transition: 0.5s;
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.6);
}

.ionicons {
  cursor: pointer;
}

.completed-button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-button:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}
